.marquee-container {
  width: 100%; /* Đảm bảo container chiếm toàn bộ chiều rộng màn hình */
  overflow: hidden; /* Ẩn các phần tử tràn ra ngoài */
  box-sizing: border-box; /* Bao gồm padding và border trong tính toán kích thước */
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 12s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  
